<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esad.group.assignment.two.dev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus">
        <activity
            android:name=".inspector.CreateTimeSchedulesActivity"
            android:exported="true" />
        <activity
            android:name=".inspector.VerifyTicketActivity"
            android:exported="true" />
        <activity
            android:name=".driver.DriverAbsenceActivity"
            android:exported="true" />
        <activity
            android:name=".passenger.PassengerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".inspector.InspectorActivity"
            android:exported="true" />
        <activity
            android:name=".driver.DriverActivity"
            android:exported="true" />
        <activity
            android:name=".passenger.CreateTokenActivity"
            android:exported="true" />
        <activity
            android:name=".passenger.AddCreditsToAccountActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>